
<div>
        <!-- <img src="https://www.atlantatrails.com/images/home/hero/georgia-waterfalls-top-hikes.jpg" style="width: 100vw; min-height: 400px;  "> -->

       <div class="slider">
    <ul class="slides">
    <li>
        <!-- <img src="https://static.pexels.com/photos/30732/pexels-photo-30732.jpg"> -->
        <img src="http://i.imgur.com/NtuO4z8.jpg">
         <!-- random image -->
         <div class="caption center-align">
           <h4 class="center quote">"We travel not to escape life, but for life not to escape us."</h4>
        </div>
      </li>
      <li>
        <img src="http://i.imgur.com/zGe6eOx.jpg"> <!-- random image -->

      </li>

      <li>
        <img src="http://i.imgur.com/oH0Ad6i.jpg"> <!-- random image -->
      </li>
      <li>
        <img src="http://i.imgur.com/BbzU6Wp.jpg"> <!-- random image -->
      </li>
    </ul>
  </div>





<div class="container">
    <div class="city_index_desc">
        <div><div><p class="blurb">Boundless is an app that gives users a platform to share their travel experiences from different cities all over the globe. Explore all that the world has to offer and be boundless.
        </p></div></div>
    </div>

<div class="row ">
    <ul >
<hr class="col-md-12 col-sm-12 col-xs-12  ">
<% @cities.each do |city| %>

    <li class="col-md-8 col-sm-8 col-xs-8 text-uppercase city_title"><%= link_to city.title, city_path(city) %></li>
    <% if user_signed_in?  %>
    <% if current_user.is_admin? %>
  <a href="/cities/<%=city.id%>/edit" class="col-md-2 col-sm-2 col-xs-2 text-right"><i class="material-icons edit_icon hoverable">mode_edit</i></a>
  <a href="/cities/<%=city.id%>" data-method = "DELETE" class="col-md-2 col-sm-2 col-xs-2 text-right"><i class="material-icons delete_icon hoverable">delete</i></a>

<% end %>
<% end %>
<hr class="col-md-12  ">
<% end %>
</ul>
</div>
<% if user_signed_in?%>
<div id="map" style="width:100%;height:400px;"class="z-depth-3"></div>
<% end %>
</div>



    </div>


    <script>
  var locations = [];
<% @cities.each do |city|%>
<%= city.longitude %>
  locations.push({latitude: <%= city.latitude %>,longitude: <%= city.longitude %>})
<% end %>
console.log(locations[1])
</script>
<script>
function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          center:new google.maps.LatLng( 33.7488889,-84.3880556),
          zoom: 4,
           mapTypeId:google.maps.MapTypeId.HYBRID
        });
        // Create an array of alphabetical characters used to label the markers.
        var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';
        // Add some markers to the map.
        // Note: The code uses the JavaScript Array.prototype.map() method to
        // create an array of markers based on a given "locations" array.
        // The map() method here has nothing to do with the Google Maps API.
        var markers = locations.map(function(location, i) {
          var myLatlng = new google.maps.LatLng(parseFloat(location.latitude),parseFloat(location.longitude));
          return new google.maps.Marker({
            position: myLatlng,
            label: labels[i % labels.length]
          });
        });
        // Add a marker clusterer to manage the markers.
        var markerCluster = new MarkerClusterer(map, markers,
            {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
      }
    </script>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBZKKQxobueF-UsooRhMCYsxV1y8CjgYgQ&callback=initMap" type="text/javascript">
  </script>

