<div class="col-md-12">
    <div class="slider">
        <ul class="slides">
            <li>
                <img src="<%= @city.photo_url %>" alt="<%= @city.title %>">
                <div class="caption center-align">
                    <h1 class="text-uppercase"><%= @city.title %></h1>
                </div>
            </li>
        </ul>
    </div>
    <div class="container">
        <!-- <div class="col-md-12 col-sm-12 col-xs-12 center city_show_title text-uppercase">Description</div> -->
        <!-- <hr class="col-md-12 col-sm-12 col-xs-12"> -->
        <div class="city_show_desc col-md-12 col-sm-12 col-xs-12">
                <%= @city.description %>
        </div>

        <hr class="col-md-12 col-sm-12 col-xs-12">

        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-6 col-sm-6 col-xs-6 city_post_title text-uppercase">Posts
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6 city_post_title text-uppercase text-right">Count: <%= @count %>
            </div>
        </div>

        <hr class="col-md-12 col-sm-12 col-xs-12">


        <div class="city_posts col-md-12 col-sm-12 col-xs-12 ">
            <% @posts.each do |post| %>
                <div class="col-md-12 col-sm-12 col-xs-12 post_show z-depth-3">
                    <div class="col-md-3 col-sm-3 col-xs-3 img-responsive">
                        <img class="img-responsive" src="<%= post.user.photo_url %>">
                    </div>

                    <div class="col-md-9 col-sm-9 col-xs-9">
                        <p class="text-capitalize"><%= link_to post.title, city_post_path(@city, post) %></p>
                        <p class="post_desc"><%= post.content %></p>
                        <!-- <p class="post_desc"><%# truncate(post.content, length: 1000) %></p> -->
                        <p class="text-capitalize text-right">By: <%= post.user.full_name %>,  <%= time_ago_in_words(post.created_at) %> ago</p>
                    </div>


                </div>
            <% end %>

            <hr class="col-md-12 col-sm-12 col-xs-12">

            <div class="col-md-12 col-sm-12 col-xs-12 center pagination"><%= will_paginate @posts %></div>
        </div>
    </div>
</div>

