<h1>Posts#index</h1>
<p>Find me in app/views/posts/index.html.erb</p>

<%= form_for [@city, @post] do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title, :required => true %>
  </div>

  <div>
    <%= f.label :content %>
    <%= f.text_field :content, :required => true%>
  </div>

  <%= f.submit%>
<% end %>
