<h1>Cities#edit</h1>
<p>Find me in app/views/cities/edit.html.erb</p>
<%= form_for @city, url: city_update_path(@city.id) do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title, :required => true %>
  </div>

  <div>
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div>
    <%= f.label :photo_url %>
    <%= f.text_field :photo_url, :required => true %>
  </div>

  <div>
    <%= f.label :longitude %>
    <%= f.text_field :longitude, :required => true %>
  </div>

  <div>
    <%= f.label :latitude %>
    <%= f.text_field :latitude, :required => true %>
  </div>

  <%= f.submit%>
<% end %>
