<%= form_for @city do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title, :required => true %>
  </div>

  <div>
    <%= f.label :description %>
    <%= f.text_field :description, :required => true %>
  </div>

  <div>
    <%= f.label :photo_url %>
    <%= f.text_field :photo_url %>
  </div>

  <div>
    <%= f.label :longitude %>
    <%= f.text_field :longitude, :required => true %>
  </div>

  <div>
    <%= f.label :latitude %>
    <%= f.text_field :latitude, :required => true %>
  </div>

  <%= f.submit%>
<% end %>
