<%= form_for @city do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div>
    <%= f.label :photo_url %>
    <%= f.text_field :photo_url %>
  </div>

  <div>
    <%= f.label :longitude %>
    <%= f.text_field :longitude %>
  </div>

  <div>
    <%= f.label :latitude %>
    <%= f.text_field :latitude %>
  </div>

  <%= f.submit%>
<% end %>
