<h1>Cities#show</h1>
<p>Find me in app/views/cities/show.html.erb</p>

<h1><%= @city.title %></h1>
<h3>
  longitude: <%= @city.longitude %> <br>
  latitude: <%= @city.latitude %>
</h3>
<img src="<%= @city.photo_url %>" alt="" height="400px">
<h3>
  Description: <%= @city.description %>
</h3>
<ul>
<% @posts.each do |post| %>
    <li><%= link_to post.title, city_post_path(post.id) %></li>
    <li><%= post.content %></li>
    <li><%= post.created_at %></li>
<% end %>
</ul>
