<!DOCTYPE html>
  <html>
  <head>
    <title>Boundless</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Titillium+Web:600i" rel="stylesheet">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">

    <!-- Google analytics partial link -->
    <%= render :partial => 'layouts/google_analytics' %>
  </head>
  <body>
    <nav>
      <div class="nav-wrapper">
        <a href="/" class="brand-logo">Boundless</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>

        <ul class="right hide-on-med-and-down">
          <% if user_signed_in?  %>

            <% if current_user.is_admin? %>
              <li><%= link_to "Add City", new_city_path %></li>
            <% end %>

            <% if @city && !current_user.is_admin %>
              <li><%= link_to "Post", new_city_post_path(@city)%></li>
            <% end %>

            <% if !current_user.is_admin? %>
              <li><%= link_to "Profile", userprofile_path(current_user.id)%></li>
            <% end %>

            <li><%= link_to "Sign Out", destroy_user_session_path, method: "delete" %></li>
          <% else %>
            <li><%= link_to "Sign Up", new_user_registration_path %></li>
            <li><%= link_to "Sign In", new_user_session_path %></li>
          <% end %>
        </ul>

        <ul class="side-nav" id="mobile-demo">
          <% if user_signed_in?  %>

            <% if current_user.is_admin? %>
              <li><%= link_to "Add City", new_city_path %></li>
            <% end %>

            <% if params[:city_id] %>
              <li><%= link_to "Post", new_city_post_path(params[:city_id])%></li>
            <% end %>

            <li><%= link_to "Profile", userprofile_path(current_user.id)%></li>
            <li><%= link_to "Sign Out", destroy_user_session_path, method: "delete" %></li>
          <% else %>
            <li><%= link_to "Sign Up", new_user_registration_path %></li>
            <li><%= link_to "Sign In", new_user_session_path %></li>
          <% end %>
        </ul>
      </div>
    </nav>

    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>

    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

  <%= yield %>

  <!-- this is for sticky footer -->
  <main>
  </main>

  <footer class="page-footer footer-copyright white z-depth-4">
    <div class="container center">
      © 2017 Boundless
    </div>
  </footer>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>

  <script>
    $('.slider').slider();
    $(".button-collapse").sideNav();
    $('.modal').modal();
  </script>

  </body>
</html>
